.entireAcknowledgePage {
    font-family: Arial Bold, sans-serif;
    line-height: .8vw;
    color: darkblue;
    width: 90vw;
	height: 72.72vw; /* (1200/1650) * 100 ... ratio = 1.375*/
/*	max-width: 137.5vh; /* (1650/1200) * 100 ... ratio = 1.375*/
	max-width: 150vh; /* (1650/1200) * 100 ... ratio = 1.375*/
	max-height: 89.7vh;
    border-color: darkcyan;
    border-width: 2vw;
    border-left-style: ridge;
    border-top-style: ridge;
    border-right-style: groove;
    border-bottom-style: groove;
    margin: auto;
    overflow: auto;
    align-content: center;
    text-align: center;
    position: relative;
}

.acknowledge {
    font-family: Arial Rounded MT Black, sans-serif;
    font-size: 1.75vw;
    line-height: 1.3vw;
    font-weight: bolder;
    position: relative;
    text-align: center;
    padding-top: 1vmin;
}

.contribution {
    font-family: Arial Rounded MT Black, sans-serif;
    font-size: 1.3vw;
    position: relative;
    text-align: center;
    padding-top: 2vmin;
}

.hovertext {
    position: relative;
    font-size: 1vw;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: white;
    color: darkblue;
    padding: 0vw 50vw 0.3666666666666666vw 0vw;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
    font-size: 1vw;
    color: blue;
    text-shadow: 0 0 1px red;
}

.hoverIT {
    position: relative;
    font-size: 1vw;
}

.hoverIT:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: max-content;
    color: darkblue;
    padding: 0vw 50vw 0.3666666666666666vw 0vw;

    position: absolute;
    z-index: 1;
    left: 0;
    top: 1.35vw;
}

.hoverIT:hover:before {
    opacity: 1;
    visibility: visible;
    font-size: 0.75vw;
    color: blue;
    text-shadow: 0 0 1px red;
}

p {
    margin: 1vmin;
}

.logo {
    position: relative;
    text-align: center;
}

.logoWVSOM {
    width: 10vw;
    max-width: 200px;
    height: 100%;
    padding-top: 1.3vmin;
}

.Funding {
    font-size: 1vw;
}

/* Adjust ratio or height if more people/content are added and overflows */
/* Can also remove this segment if preferred */
@media (max-aspect-ratio: 1600/950) {
    .entireAcknowledgePage {
        height: 50.50vw !important;
    }
}
