header {
	margin-top: 4vmin; /* Space between border and title */
	/* padding-bottom: 2vmin; Space between title and button Bank */
}

h1 {
	line-height: 100%; /* Height of title */
	color: #53E1CD;
	margin: auto;      /* Space above and below title */
	margin-bottom: -1vmin; 
	text-shadow: -3px -3px 0 #0000B2, 3px -3px 0 #0000B2, -3px 3px 0 #0000B2, 3px 3px 0 #0000B2;
}

.viScript {
    font-family: Arial, san-serif;
 	font-size: 2.5vmin;
	position: relative;
	width: 100vw;
	max-width: 137.5vh;
	text-align: center;
	align-content: center;
    padding-top: 0.2vw;
	text-decoration: none;
	cursor: pointer;
	opacity: 1;
}

.viScript > a {
    font-size: 2.5vmin;
    font-family: Arial, san-serif;    
    text-decoration: none;
    opacity: 0;
}

.viScript > a:hover {               
	font-size: 2.5vmin;
    font-family: Arial, san-serif; 
	opacity: 1; 
	text-decoration: none;
	color: #999999; 
}

.viScript > a:active {
	opacity: 1;
	color: #666666;
}

body {
	background-color: black;
}

.lessonMenuPage {
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100vw;
	height: 72.72vw; /* (1200/1650) * 100 ... ratio = 1.375*/
	max-height: 100vh;
	max-width: 137.5vh; /* (1650/1200) * 100 ... ratio = 1.375*/
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
    display: block;
    White-space: nowrap; /* Keeps Title on one line */
}

.lessonMenu {
	display: grid;
	justify-content: center;
    transform: scale(1.1); 
}

.menuLists {
	position: relative;
	list-style-type: none;
	align-content: center;
	padding: 0;
}

.subMenuLists {
	position: relative;
	list-style-type: none;
	width: 100%;
	align-content: center;
	padding: 0;
}

button.linksLarge {
	font-family: Arial Rounded MT, san-serif;
	color: #02E8E5;
	background: transparent;
	border: none;
	text-decoration: none;
	font-weight: bold;
	padding: 0;
}

button:hover.linksLarge {
	color: #9DFFFF;
	cursor: pointer;
    transform: scale(1.1);
}

button:active.linksLarge {
	color: #02E8E5;
	cursor: pointer;
    transform: scale(0.9);
}

button.linksSmall {
	font-family: Arial Rounded MT, san-serif;
	color: #02E8E5;
	background: transparent;
	border: none;
	text-decoration: none;
	font-weight: bold;
	padding: 0;
}

button:hover.linksSmall {
	color: #9DFFFF;
	cursor: pointer;
    transform: scale(1.1);
}

button:active.linksSmall {
	color: #02E8E5;
	cursor: pointer;
    transform: scale(0.9);
}

button.linksTiny {
	font-family: Arial Rounded MT, san-serif;
	color: #02E8E5;
	background: transparent;
	border: none;
	text-decoration: none;
	font-weight: bold;
	padding: 0;
}

button:hover.linksTiny {
	color: #9DFFFF;
	cursor: pointer;
    transform: scale(1.1);
}

button:active.linksTiny {
	color: #02E8E5;
	cursor: pointer;
    transform: scale(0.9);
}

button:active {
    outline: none !important;
}

button:focus {
    outline: none !important;
}

.footerLinks {
	font-family: Arial;
    color: #babdea;
	font-size: 3vmin;
    line-height: 9vmin;
	width: 100vw;
	max-width: 137.5vh;
	text-align: center;
	align-content: center;
}

.footerLinks > a:link {
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}

.footerLinks > a:visited {
	color: #4f58c9;
}

.footerLinks > a:hover {
	color: #A137BB;
}

.footerLinks > a:active {
	color: #8285DF;
}

/* https://css-tricks.com/aspect-ratio-boxes/ */

.lesson {
	width: 100vw;
	height: 72.72vw; /* (1200/1650) * 100 ... ratio = 1.375*/
	max-height: 100vh;
	max-width: 137.5vh; /* (1650/1200) * 100 ... ratio = 1.375*/
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: black;
    display: none;
    overflow: hidden;
}

/* Animation Field */
.video {
	text-align: center;
	align-content: center;
	z-index: 0;
	position: absolute;
	overflow: hidden;
	height: 98%;
	top: 1vh;
}

.headBank {
	padding-top: 0.5vmin; /* Space between title and button bank */ 
	padding-bottom: 2.5vmin; /* Space between button bank and menu links */ 
	z-index: 1;
}

.btnHeader{
	height: 4.5vh;
	position: relative;
}

.lessonButtons {
    width: 100%;
	position: absolute;
	bottom: 1vmin;
	z-index: 1;
}

.btnFooter {
	float: left;
	height: 5.9vh;
	position: relative;  /* Relative to video field */
}

.btnRate {
    float: left;
	height: 5.9vh;
	position: relative;  /* Relative to video field */
}

.btnSide {
	float: right;
	height: 5.9vh;
	padding-right: 2vw;
	display: none;
}

.side {
	width: 100vw;
	height: 72.72vw; /* (1200/1650) * 100 ... ratio = 1.375*/
	max-height: 100vh;
	max-width: 137.5vh; /* (1650/1200) * 100 ... ratio = 1.375*/
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: black;
	display: none;
    overflow: hidden;
}

/* ideally use JS to check for aspect ratio of menuLists? */
@media (max-aspect-ratio: 1650/1300) {
    h1 {
        font-size: 7vmin;
    }
    
    button.linksLarge {
        font-size: 3vmin !important;
    }

    button.linksSmall {
        font-size: 2.5vmin !important;
    }
    
    button.linksTiny {
        font-size: 2vmin !important;
    }
    
    .footerLinks {
        font-size: 2vmin !important;
    }
    
/*  .headBank {
        padding-top: 30vmin !important;  /* Space No apparent affect * /
    }
*/    
    .btnHeader {
        height: 4.5vw !important;
    }
    
    .btnFooter {
        height: 4.5vw !important;
    }
    
    .video {
        top: 0.5vh !important;
    }
}

@media (max-width: 200px) {
	/* size when things break/overflow */
	/* not sure who wants to view at <200px though... */
}
