.popupsMain {
    /* font-family: Arial Rounded MT Black, sans-serif; */
    color: darkblue;
    width: 90vw;
	height: 72.72vw; /* (1200/1650) * 100 ... ratio = 1.375*/
	max-width: 160vh; /* (1650/1200) * 100 ... ratio = 1.375*/
	max-height: *89.7vh;
    border-color: darkcyan;
    border-width: 2.5vmin;
    border-left-style: ridge;
    border-top-style: ridge;
    border-right-style: groove;
    border-bottom-style: groove;
    margin: auto;
    position: relative;
}

.popupsHeading {
    height: 11%;
    padding-bottom: 2vmin;
}

.popupsContent {
    position: absolute;
    overflow: auto;
    height: 79%;
    width: 100%;
    line-height: 6vmin;
}

/* http://jsfiddle.net/c6oLrztm/1/ */

/* for L text align w/ R img align inline - float img, none for text */

p.head {
    font-family: Times Roman, Imprint MT Shadow, Arial Rounded MT, sans-serif;
    font-size: 8vh;
    font-weight: bold;
    position: relative;
    text-align: left;
    padding-left: 3vmin;
}

p.headEmb {
    font-family: Cooper Black, Arial Rounded MT, sans-serif;
    font-size: 7vh;
    font-weight: bold;
    position: relative;
    text-align: left;
    padding-left: 3vmin;
}

p.subHead {
    font-family: Cooper Black, Arial Rounded MT, sans-serif;
    font-size: 5vmin;
    font-weight: bold;
    line-height: 0vmin;
    position: relative;
    text-align: left;
    padding-left: 4vmin;
}

.nav-btn {
    float: right;
    display: inline-block;
    position: relative;
    max-height: 10vmin;
    max-width: 10vmin;
    padding-right: 2vmin;
    margin-top: -1vmin; /* aligns middle of img with text */
}

/* Excerpts Specific */
a {
    font-family: arial, sans-serif;
	font-size: 2vw;
    letter-spacing: 0vmin;
    color: darkblue;
    text-align: center;
    text-decoration: none;
}

a:hover {
    font-family: arial rounded MT black, sans-serif;
/*    letter-spacing: 0.1vmin; */
	}

a:active {
    font-family: arial, sans-serif;
    letter-spacing: -0.08vmin;
}

img.downloadButton:hover {
    content: url("Buttons/BTN_DownloadPopMenuOver.jpg");
}

img.downloadButton:active {
    content: url("Buttons/BTN_DownloadPopMenuHit.jpg");
}

h1 {
    font-size: 5vh;
}

table, th, tr {
    text-align: left;
    font-family: arial, sans-serif;
    word-wrap: break-word;
}

.downloadButton {
    width: 4vw;
    height: 3vw;
    text-align: center;
}

.firstColumn {
    width: 35%;
    text-align: center
}

@media (min-aspect-ratio: 1650/1300) {
    /* p.head {
        font-size: 1.75vw !important; 
    } 
    
    p.ref {
        font-size: 1vw;
    } */    
}