/*
Setup groups
- If there's two collumns nothing needs to be done
- If there's one collumn change
  grid-template-columns: auto auto;       to     grid-template-columns: auto;  
  grid-gap: 2min 0vmin;                          grid-gap: 2min 0vmin;
*/

/*Title*/
h1 {
	font-size: 15vmin;
    letter-spacing: 0.5vmin;
}

/*Space Between Button Bank & Menu Top*/
.menuLists {
	margin: 1.5vmin 0;
}

/*Menu Links*/
button.linksLarge {
	font-size: 5vmin;
}

button.linksSmall {
	font-size: 3.5vmin;
}

/*Spacing Between Menu Links*/
.lessonMenu > div {
	line-height: 1vmin;
}

/*Menu Link Columns*/
.lessonMenu {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0vmin;
	justify-content: center;
}

/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
.group1 {
	grid-area: 1 / 1 / 3;
}

.group2 {
	grid-area: 1 / 2;
}
