/*Title*/
h1 {
	font-size: 11vmin;
    letter-spacing: 0.5vmin;
    padding-bottom: 1.5vmin !important;
}

/*Space Between Button Bank & Menu Top*/
.menuLists {
	margin: 2.8vmin 0;
}

/*Menu Links*/
button.linksLarge {
	font-size: 5vmin;
}

button.linksSmall {
	font-size: 4vmin;
}

/*Spacing Between Menu Links*/
.lessonMenu > div {
	line-height: 1vmin;
}

/*Menu Link Columns*/
.lessonMenu {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 15vmin;
	justify-content: center;
}

/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
.group1 {
	grid-area: 1 / 1;
}

.group2 {
	grid-area: 1 / 2;
}
