/*Title*/
h1 {
	font-size: 10vmin;
    letter-spacing: 1vmin;
}

/*Space Between Button Bank & Menu Top*/
.menuLists {
	margin: 1vmin 0;
}

/*Menu Links*/
button.linksLarge {
	font-size: 3.8vmin;
}

button.linksSmall {
	font-size: 2.8vmin;
}

button.linksTiny {
	font-size: 1.9vmin;
}

/*Spacing Between Menu Links*/
.lessonMenu > div {
	line-height: 0.8vmin;
}

/*Menu Link Columns*/
.lessonMenu {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0vmin;
	justify-content: center;
}

/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
.group1 {
	grid-area: 1 / 1;
}

.group2 {
	grid-area: 1 / 2;
}
