/*Title*/
h1 {
	font-size: 10vmin;
    letter-spacing: 0.5vmin;
}

/*Space Between Button Bank & Menu Top*/
.menuLists {
	margin: 5vmin 0;
}

/*Menu Links*/
button.linksLarge {
	font-size: 7vmin;
}

button.linksSmall {
	font-size: 3.5vmin;
}

/*Spacing Between Menu Links*/
.lessonMenu > div {
	line-height: 7vmin;
}

/*Menu Link Columns*/
.lessonMenu {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 2min 0vmin;
	justify-content: center;
}

/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
.group1 {
	grid-area: 1 / 1 / 3;
}
