/*Title*/
h1 {
	font-size: 14vmin;
    letter-spacing: 0.5vmin;
    padding-top: 0vmin !important;
    padding-bottom: 1.5vmin !important;
}

/*Space Between Button Bank & Menu Top*/
.menuLists {
	margin: 4.7vmin 0;
}

/*Menu Links*/
button.linksLarge {
	font-size: 7.5vmin;
}

button.linksSmall {
	font-size: 4.7vmin;
}

/*Spacing Between Menu Links*/
.lessonMenu > div {
	line-height: 6vmin;
}

/*Menu Link Columns*/
.lessonMenu {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 0vmin;
	justify-content: center;
}

/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
.group1 {
	grid-area: 1;
}
