/*Title*/
h1 {
 	font-size: 9vmin;
    letter-spacing: 0.5vmin;
    padding-top: 2vmin !important;
}

/*Space Between Button Bank & Menu Top*/
.menuLists {
	margin: 2.5vmin 0;
}

/*Menu Links*/
button.linksLarge {
	font-size: 5vmin;
}

button.linksSmall {
	font-size: 3.5vmin;
}

/*Spacing Between Menu Links*/
.lessonMenu > div {
	line-height: 4.5vmin;
}

/*Menu Link Columns*/
.lessonMenu {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 0vmin;
	justify-content: center;
}

/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
.group1 {
	grid-area: 1;
}
