/*Title*/
h1 {
	font-size: 8vmin;
    letter-spacing: 0.5vmin;
    padding-top: 4vmin !important;
    padding-bottom: 2vmin !important;
}

/*Spacing Between Menu Links*/
.menuLists {
	margin: 13vmin 0;
}

/*Menu Links*/
button.linksLarge {
	background-image: url('../Images/Play.jpg');
    background-size: 14vmin;
	background-position: center;
	background-repeat: no-repeat;
  	background-color: black;
	border-width: 1vmin;
	border-style: groove;
	text-decoration: none;
	padding: 8vmin 11vmin;
}

button.linksSmall {
	font-family: Arial Rounded MT, san-serif;
	color: #02E8E5;
	background: transparent;
	border: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 3.5vmin;
	padding: 0;
}

/*Menu Link Columns*/
.lessonMenu {
	display: grid;
	grid-template-columns: auto;
	grid-gap: 5vmin;
	justify-content: center;
}

/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
.group1 {
	grid-area: 1 / 1;
}

.group2 {
	grid-area: 1 / 2;
}
