/*Title*/
h1 {
	font-size: 10vmin;
    letter-spacing: 0.5vmin;
}

/*Space Between Button Bank & Menu Top*/
.menuLists {
	margin: 1.5vmin 0;
}

/*Menu Links*/
button.linksLarge {
	font-size: 4.2vmin;
}

button.linksSmall {
	font-size: 3vmin;
}

button.linksTiny {
	font-size: 1.5vmin;
}

/*Spacing Between Menu Links*/
.lessonMenu > div {
	line-height: 0.3vmin;
}

/*Menu Link Columns*/
.lessonMenu {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 8vmin;
	justify-content: center;
	line-height: 1vmin;
}

/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
.group1 {
	grid-area: 1 / 1 / 3;
}

.group2 {
	grid-area: 1 / 2;
}

/*    padding-right: 2vmin;*/